# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/template-driven-form/dist
/template-driven-form/tmp
/template-driven-form/out-tsc
# Only exists if Bazel was run
/template-driven-form/bazel-out

# dependencies
/template-driven-form/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/template-driven-form/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/template-driven-form/.sass-cache
/template-driven-form/connect.lock
/template-driven-form/coverage
/template-driven-form/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
